<head>
    <link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/navbar.css">
<link rel="stylesheet" href="/css/about.css">
<link rel="stylesheet"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
</head>
<body>

<%- include("partials/navbar") %>

<section class="about-hero">

    <div class="about-overlay">

        <h1>About E-Shop</h1>

        <p>
            India's modern online shopping destination for Electronics,
            Fashion, Accessories and Books.
        </p>

    </div>

</section>

<section class="about-container">

    <div class="about-card">

        <div class="about-text">

            <h2>Who We Are</h2>

            <p>
                 Welcome to <strong>E-Shop</strong>, your trusted online shopping destination
        designed to provide a fast, secure and enjoyable shopping experience.
        We bring together quality products across multiple categories including
        Electronics, Fashion, Accessories and Books—all in one place.
            </p>

            <p>
                From electronics to fashion, we offer high-quality products
                with easy ordering, secure payments and fast delivery.
            </p>

        </div>

        <div class="about-image">

            <img src="https://images.unsplash.com/photo-1520607162513-77705c0f0d4a?w=900" alt="Shopping">
        </div>

    </div>

</section>

<section class="stats">

    <div class="stat-box">
        <h2>500+</h2>
        <p>Products</p>
    </div>

    <div class="stat-box">
        <h2>1500+</h2>
        <p>Happy Customers</p>
    </div>

    <div class="stat-box">
        <h2>24/7</h2>
        <p>Customer Support</p>
    </div>

    <div class="stat-box">
        <h2>100%</h2>
        <p>Secure Payments</p>
    </div>

</section>

<section class="mission">

    <h2>Our Mission</h2>

    <p>
        We believe online shopping should be simple, secure and enjoyable.
        Our mission is to provide customers with the latest products,
        affordable prices and excellent customer service.
    </p>

</section>

<%- include("partials/footer") %>
<script src="/js/theme.js"></script>

</body>